<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./_contacts.scss" />
    <link rel="stylesheet" href="../../main.css" />
    
</head>
<body>
    <section class="contacts-section" id="contacts">
        <h2 class="visually-hidden">contacts</h2>
        <div class="container contacts-wrap">   
            <div class="contacts-container">
                <ul class="list representation__list">
                    <li class="representation__item">
                        <div class="representation-cafe">
                            <p class="representation__text">cafe</P>
                        </div>
                        <ul class="list contacts__list">
                            <li class="contacts__item">
                                <div class="representation__city">
                                    <p class="contacts-item__title">Chicago</P>
                                    <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</P>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <ul class="list schedule__list">
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Monday - Friday</P>
                                        <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                    </li>
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Saturday - Sunday</P>
                                        <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                    </li>    
                                </ul>
                            </li>
                            <li class="contacts__item">
                                <div class="representation__contacts">
                                    <ul class="list representation-contacts__list">
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                                        </li>
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="noreply@envato.com">noreply@envato.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>    
                        </ul>
                    </li>    
                    <li class="representation__item">
                        <div class="representation-foodtruck">
                            <p class="representation__text">foodtruck</P>
                        </div>
                        <ul class="list contacts__list">
                            <li class="contacts__item">
                                <div class="representation__city">
                                    <p class="contacts-item__title">Los Angeles</P>
                                    <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</P>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <ul class="list schedule__list">
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Monday - Friday</P>
                                        <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                    </li>
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Saturday - Sunday</P>
                                        <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts__item">
                                <div class="representation__contacts">
                                    <ul class="list representation-contacts__list">
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                                        </li>
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="noreply@envato.com">noreply@envato.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>        
                    </li>
                    <li class="representation__item">
                        <div class="representation-cafe">
                            <p class="representation__text">cafe</P>
                        </div>
                        <ul class="list contacts__list">
                            <li class="contacts__item">
                                <div class="representation__city">
                                    <p class="contacts-item__title">New York</P>
                                    <p class="representation-city__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</P>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <ul class="list schedule__list">
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Monday - Friday</P>
                                        <p class="representation-schedule__text">06:00 AM - 10:00 PM</P>
                                    </li>
                                    <li class="chedule__item">
                                        <p class="contacts-item__title">Saturday - Sunday</P>
                                        <p class="representation-schedule__text">08:00 AM - 16:00 PM</P>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts__item">
                                <div class="representation__contacts">
                                    <ul class="list representation-contacts__list">
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                                        </li>
                                        <li class="representation-contacts__item">
                                            <a class="link representation-contacts__link" href="noreply@envato.com">noreply@envato.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>        
                    </li>
                </ul>
                <ul class="contact-button__list">
                    <li class="contact-button__item">
                        <button data-modal-open type="button" class="cotacts__button modal-locations__button">Our Locations</button>
                    </li>
                    <li class="contact-button__item">
                        <button data-modal-open type="button" class="cotacts__button modal-locations__franchise">Franchise</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>    