<section class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="advantages__container container">
    <ul class="advantages__list">
      <li class="advantages__item advantages__icon1">
        <p class="advantages__text_primary">721</p>
        <p class="advantages__text_secondary">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__icon2">
        <p class="advantages__text_primary">16kg</p>
        <p class="advantages__text_secondary">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__icon3">
        <p class="advantages__text_primary">84</p>
        <p class="advantages__text_secondary">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
