
<section class="gallery">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery__container container">
<!-- <img 
srcset="./images/gallery/gallery-desktop.png 1x, ./images/gallery/gallery-desktop2x.png 2x"
src="./images/gallery/gallery-desktop.png" alt="gallery"> -->
<ul class="gread__list">
    <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic1_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic2_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic3_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic4_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic5_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic6_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic7_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic8_deskt.jpg" alt="" />
        </div>
    </li>
    <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic9_deskt.jpg" alt=""/>
        </div>
    </li>
    <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./images/gallery/ic10_deskt.jpg" alt="" />
        </div>
    </li>
</ul>
    </div>


</section>