<!--Шапка сайта Герой-->

<header class="header">
    <div class="container">
        <div style="justify-content: space-between;
        display: flex; align-items: center;">
    <a class="header-logo" href="./index.html"><img srcset="./images/logo/logo-desktop.png 1x, ./images/logo/logo-desktop2x.png 2x" src="./images/logo/logo-desktop.png" alt="logo icecream"></a>
    <div class="header-mobile">
    <nav>
        <ul class="header-content">
            <li class="header-list header-list--active"><a href="">Home</a></li>
            <li class="header-list"><a href="#About us" class="header-link">About us</a></li>
            <li class="header-list"><a href="#How it’s made?">How it’s made?</a></li>
            <li class="header-list"><a href="#Our products">Our products</a></li>
            <li class="header-list"><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
</div>
        <div class="buttons">
    <button  data-mobile-open type="button"  class="button-open-mobile">
        <svg class="open-mobile-icon"><use href="./images/sprite.svg#icon-Burger"></use></svg></button>
        <button type="button" class="header-button">Buy now</button>
    </div>
</div>

        <div data-mobile class="button-modal button-modal--active is-hidden">
            <button  data-mobile-close class="button-close-mobile" type="button">
                <svg class="close-mobile-icon"><use href="./images/sprite.svg#icon-close"></use></svg>
            </button>
            <button class="button-mobile-module" type="button">Buy now</button>
            <nav>
                <ul class="header-content">
                    <li class="header-list header-list--active"><a href="">Home</a></li>
                    <li class="header-list"><a href="#About us" class="header-link">About us</a></li>
                    <li class="header-list"><a href="#How it’s made?">How it’s made?</a></li>
                    <li class="header-list"><a href="#Our products">Our products</a></li>
                    <li class="header-list"><a href="#Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>